<!DOCTYPE html>
<html>
    <head>
	   <title>Image gallery</title>
	   
     </head>
    <body>
		
		
		<h1 style="text-align:center;">Image gallery</h1>
		<div  style="text-align:center; margin: auto;"><a href="login">Logout</a></div>
					
		<div style= "text-align:center"><table style="width: 900px; margin:auto">
		
		<tr>
		<td><center><img src="../static/images/fig01.jpg" alt="Grand event" onclick="window.open(this.src)" style="width:100%"></center></td>
		<td><center><img src="../static/images/fig02.jpg" alt="Sign" onclick="window.open(this.src)" style="width:100%"></center></td>
		<td><center><img src="../static/images/fig03.jpg" alt="Stream" onclick="window.open(this.src)" style="width:100%"></center></td>
		</tr>
		
		<tr>
		<td><center><img src="../static/images/fig04.jpg" alt="Flames of war" onclick="window.open(this.src)" style="width:100%"></center></td>
		<td><center><img src="../static/images/fig05.jpg" alt="Title image" onclick="window.open(this.src)" style="width:100%"></center></td>
		<td><center><img src="../static/images/fig06.jpg" alt="Witches in the woods" onclick="window.open(this.src)" style="width:100%"></center></td>
		</tr>
		
		<tr>
		<td><center><img src="../static/images/fig07.jpg" alt="Horse in the Snow" onclick="window.open(this.src)" style="width:100%"></center></td>
		<td><center><img src="../static/images/fig08.jpg" alt="Forest" onclick="window.open(this.src)" style="width:100%"></center></td>
		<td><center><img src="../static/images/fig09.jpg" alt="Sunset" onclick="window.open(this.src)" style="width:100%"></center></td>
		</tr>
		
		</table></div>
		
		
    </body>
</html>
